@{
    ViewData["Title"] = "Admin Panal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Single Page Header start -->
@* <div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<br />
<!-- Single Page Header End -->
<div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
        <div class="rounded me-4" style="width: 100px; height: 100px;">
            <img src="~/img/1.png" alt="banana" class="img-fluid rounded">
        </div>
       @*  <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button> *@
        @*<div class="collapse navbar-collapse bg-white" id="navbarCollapse">
            <div class="navbar-nav">
                <a asp-action="DashBoard" asp-controller="Admin" class="nav-item nav-link active">DashBoard</a>
              
                    <a asp-action="Admin" asp-controller="Admin" class="nav-item nav-link">Catagory</a>
                

                <a asp-action="Shop" asp-controller="Admin" class="nav-item nav-link">Product</a>

                <a asp-action="Contact" asp-controller="Admin" class="nav-item nav-link">Order</a>
            </div>
              
        @* </div> 
    </nav>
</div>
 *@
