@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1><br /><br /><br /><br /><br /><br /><br />
    <h2> <p class="text-danger justify-content-center">You do not have access to this resource.</p></h2>
</header>
